<!DOCTYPE html>
<html lang="en" data-random-animation="false" data-animation="36">

<head>
  <!--Meta Tags-->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta content="https://websiteurl" property="og:url" />
  <meta content="Navjot Singh" property="og:title" />
  <meta
    content="Want to be a web developer and Expert geek? Welcome, to Navjot Singh. Home of web developer and creativity. i make articles on Technology, Social cause, University Important topics and also u will get all videos source code and Notes for Free of Navjot Singh Github repository."
    property="og:description" />

  <!-- Description and Keywords (start) -->
  <meta
    content="Want to be a web developer and Expert geek? Welcome, to Navjot Singh. Home of web developer and creativity. i make articles on Technology, Social cause, University Important topics and also u will get all videos source code and Notes for Free of Navjot Singh Github repository.vCard / Resume / Personal / Portfolio /"
    name="description" />
  <meta
    content="Navjot Singh, Prince, website, javascript, php, NavjotSinghPrince website, article, html, WebDevelopment,database"
    name="keywords" />

  <!-- Description and Keywords (end) -->
  <meta content="NavjotSinghPrince" property="og:site_name" />
  <meta content="https://websiteurl/" name="twitter:domain" />
  <meta content="" name="twitter:title" />
  <meta content="summary" name="twitter:card" />
  <meta content="" name="twitter:title" />

  <!-- Social Media meta tag need customer customization -->
  <meta content="@Princeferozepur" name="twitter:site" />
  <meta content="@Princeferozepur" name="twitter:creator" />
  <meta name="keywords" content="vcard, resume, personal, portfolio, cv, card " />
  <meta name="author" content="Navjot Singh" />
  <meta name="owner" content="Navjot Singh" />
  <meta name="copyright" content="NavjotSinghPrince" />

  <!--Page Title-->
  <title>Navjot Singh Prince</title>

  <!--Plugins Css-->
  <link rel="stylesheet" href="css/plugins.css" />
  <!--Main Styles Css-->
  <link rel="stylesheet" href="css/style-light.css" />

  <link rel="stylesheet" href="css/blue-color.css" />

  <script src="js/modernizr.js"></script>

  <!--Favicons-->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D822XQK2KQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-D822XQK2KQ');
  </script>

  <script src="https://use.fontawesome.com/3de01ad7d8.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    #link {
      color: #00a3e1;
    }

    #link:hover {
      color: black;
    }
  </style>
</head>

<body>
  <div id="navjot">
    <div id="page">
      <!--Header Start-->
      <header>
        <div class="header-content">
          <!--Mobile Header-->
          <div class="header-mobile">
            <a class="header-toggle"><i class="fas fa-bars"></i></a>
            <h2>Navjot Singh</h2>
          </div>

          <!--Main Header-->
          <div class="header-main" data-simplebar>
            <div class="image-container">
              <h2 class="header-name">Navjot Singh</h2>
              <img src="img/profile-img.png" alt="profile-pic" />
            </div>

            <!--Nav Menus-->
            <nav class="nav-menu">
              <ul>
                <li>
                  <a href="index.html#home"><span class="nav-menu-icon"><i class="lnr lnr-home"></i></span>Home
                  </a>
                </li>
                <li>
                  <a href="index.html#about"><span class="nav-menu-icon"><i class="lnr lnr-user"></i></span>About Me</a>
                </li>
                <li>
                  <a href="index.html#resume"><span class="nav-menu-icon"><i
                        class="lnr lnr-license"></i></span>Resume</a>
                </li>
                <li>
                  <a href="index.html#portfolio"><span class="nav-menu-icon"><i
                        class="lnr lnr-briefcase"></i></span>Portfolio</a>
                </li>
                <li>
                  <a href="index.html#blog" class="active"><span class="nav-menu-icon"><i
                        class="lnr lnr-book"></i></span>Blog</a>
                </li>
                <li>
                  <a href="index.html#contact"><span class="nav-menu-icon"><i
                        class="lnr lnr-envelope"></i></span>Contact</a>
                </li>
              </ul>
            </nav>

            <!--Nav Footer-->
            <div class="nav-footer">
              <!--Social Links-->
              <ul class="social">
                <li>
                  <a href="https://github.com/navjotsinghprince" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/navjot-singh-82172a18a/" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="https://codepen.io/NavjotSinghPrince" target="_blank"><i class="fab fab fa-codepen"></i></a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/users/12120513/navjotsinghprince" target="_blank"><i
                      class="fab fa-stack-overflow"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/Princeferozepur" target="_blank"><i
                      class="fa-brands fa-x-twitter"></i></a>
                </li>
              </ul>

              <!--Copyright Text-->
              <div class="copy">
                <p id="copyright">
                  {{fullyear}}
                  &copy; Navjot Singh Prince <br />All Right Reserved.
                </p>
              </div>

            </div>
          </div>
        </div>
      </header>
      <!--Header End-->

      <!--Main Start-->
      <div id="main" class="site-main">
        <div class="blog-page">
          <div class="blog-image">
            <!-- <img src="img/blog/blog-page-img.jpg" alt="" /> -->
          </div>
          <div class="blog-container">
            <div class="row">
              <!--Blog Heading Start-->
              <div class="blog-heading col-md-8 offset-md-2 mt-4">

                <h1>{{desc}}</h1>
                <span class="blog-date">January 21, 2020</span>
              </div>
              <!--Blog Heading Start-->

              <!--Blog Content Start-->
              <div class="blog-content col-md-10 offset-md-1">
                <h4 class="mb-2 font-weight-bold">OVERVIEW</h4>

                <p v-for="(value,index) in blog" :key="index">{{value}}
                </p>

                <blockquote>
                  <b>GitHub Repositories Links:</b>
                  <ol>
                    <li v-for="(value,index) in links" :key="index">
                      <a id="link" :href="value.url" target="_blank"> {{index+1}}. {{ value.title}}</a>
                    </li>
                  </ol>
                </blockquote>


                <p>Stay tuned as we delve deeper into each of these areas and highlight some of the most valuable
                  repositories that can help you Be On The Top Of Development! 🚀</p>
                <b>Thank You For Your Valuable Time.</b><br>
                <b>Warm Regards</b><br>
                <b>Navjot Singh</b>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Jquery JS-->
  <script src="js/jquery.min.js"></script>
  <!--Plugins JS-->
  <script src="js/plugins.min.js"></script>
  <!--Site Main JS-->
  <script src="js/main.js"></script>


  <script>
    var app = new Vue({
      el: "#navjot",
      data: () => ({
        title: "Enhance your development skills",
        desc: "Be On The Top Of Development",
        blog: {
          content1:
            'Technology is changing fast, and staying updated is important for every developer. Learning new tools and techniques can help you grow and improve.',
          content2:
            "In this blog, we have listed some useful GitHub repositories that can help you with different tasks and improve your coding skills. These cover many topics, from learning programming languages to exploring popular frameworks and libraries.",
          content3:
            "Whether you are an experienced developer or just starting out, this blog will help you use technology to build a smarter and more connected world.",
        },
        links: [
          {
            title: "C++ OOPS Programming",
            url: "https://github.com/navjotsinghprince/C-PLUS-PLUS-OOPS-PROGRAMMING"
          },
          {
            title: "Data Structures and Algorithms",
            url: "https://github.com/navjotsinghprince/Data-Structures"
          },
          {
            title: "Bootstrap UI Web Template",
            url: "https://github.com/navjotsinghprince/Bootstrap_Web_Template"
          },
          {
            title: "Car Racing Game Live [Javascript]",
            url: "https://github.com/navjotsinghprince/Car-Racer-Game"
          },
          {
            title: "The PHP Professional [A to Z]",
            url: "https://github.com/navjotsinghprince/The-PHP-Professional"
          },
          {
            title: "Login Register System [PHP]",
            url: "https://github.com/navjotsinghprince/Login-Register-System"
          },
          {
            title: "CRUD Basic [PHP]",
            url: "https://github.com/navjotsinghprince/Crud"
          },
          {
            title: "CRUD AJAX Rest API [PHP]",
            url: "https://github.com/navjotsinghprince/CRUD-REST-API"
          },
          {
            title: "Image Upload System [PHP]",
            url: "https://github.com/navjotsinghprince/Image-Upload-System"
          },
          {
            title: "Book Record Management System",
            url: "https://github.com/navjotsinghprince/Book_Record_Management_System"
          },
          {
            title: "News Site CMS Project",
            url: "https://github.com/navjotsinghprince/News-Site-CMS"
          },
          {
            title: "Laravel Passport UUID Implementation",
            url: "https://github.com/navjotsinghprince/laravel-passport-uuid"
          },
          {
            title: "Laravel Sanctum UUID Implementation",
            url: "https://github.com/navjotsinghprince/laravel-sanctum-uuid"
          },
          {
            title: "HTTP Response Composer Package",
            url: "https://github.com/navjotsinghprince/http-response"
          },

          {
            title: "Useful Artisan Git Linux Commands",
            url: "https://github.com/navjotsinghprince/cmd"
          },
        ],
      }),

      computed: {
        fullyear() {
          return new Date().getFullYear();
        }
      }
    });
  </script>

</body>

</html>