<!DOCTYPE html>
<html lang="en" data-random-animation="false" data-animation="36">

<head>
  <!--Meta Tags-->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta content="https://websiteurl" property="og:url" />
  <meta content="Navjot Singh" property="og:title" />
  <meta
    content="Want to be a web developer and Expert geek? Welcome, to Navjot Singh. Home of web developer and creativity. i make articles on Technology, Social cause, University Important topics and also u will get all videos source code and Notes for Free of Navjot Singh Github repository."
    property="og:description" />

  <!-- Description and Keywords (start) -->
  <meta
    content="Want to be a web developer and Expert geek? Welcome, to Navjot Singh. Home of web developer and creativity. i make articles on Technology, Social cause, University Important topics and also u will get all videos source code and Notes for Free of Navjot Singh Github repository.vCard / Resume / Personal / Portfolio /"
    name="description" />
  <meta
    content="Navjot Singh, Prince, website, javascript, php, NavjotSinghPrince website, article, html, WebDevelopment,database"
    name="keywords" />

  <!-- Description and Keywords (end) -->
  <meta content="NavjotSinghPrince" property="og:site_name" />
  <meta content="https://websiteurl/" name="twitter:domain" />
  <meta content="" name="twitter:title" />
  <meta content="summary" name="twitter:card" />
  <meta content="" name="twitter:title" />

  <!-- Social Media meta tag need customer customization -->
  <meta content="@Princeferozepur" name="twitter:site" />
  <meta content="@Princeferozepur" name="twitter:creator" />
  <meta name="keywords" content="vcard, resume, personal, portfolio, cv, card " />
  <meta name="author" content="Navjot Singh" />
  <meta name="owner" content="Navjot Singh" />
  <meta name="copyright" content="NavjotSinghPrince" />

  <!--Page Title-->
  <title>Navjot Singh Prince</title>

  <!--Plugins Css-->
  <link rel="stylesheet" href="css/plugins.css" />
  <!--Main Styles Css-->
  <link rel="stylesheet" href="css/style-light.css" />

  <link rel="stylesheet" href="css/blue-color.css" />

  <script src="js/modernizr.js"></script>

  <!--Favicons-->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122650090-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-122650090-3");
  </script>

  <script src="https://use.fontawesome.com/3de01ad7d8.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  <style>
     #link{
      color: #00a3e1;
     }
    #link:hover {
      color: black;
    }
  </style>
</head>

<body>
  <div id="navjot">
    <div id="page">
      <!--Header Start-->
      <header>
        <div class="header-content">
          <!--Mobile Header-->
          <div class="header-mobile">
            <a class="header-toggle"><i class="fas fa-bars"></i></a>
            <h2>Navjot Singh</h2>
          </div>

          <!--Main Header-->
          <div class="header-main" data-simplebar>
            <div class="image-container">
              <h2 class="header-name">Navjot Singh</h2>
              <img src="img/profile-img.png" alt="profile-pic" />
            </div>

            <!--Nav Menus-->
            <nav class="nav-menu">
              <ul>
                <li>
                  <a href="index.html#home"><span class="nav-menu-icon"><i class="lnr lnr-home"></i></span>Home
                  </a>
                </li>
                <li>
                  <a href="index.html#about"><span class="nav-menu-icon"><i class="lnr lnr-user"></i></span>About Me</a>
                </li>
                <li>
                  <a href="index.html#resume"><span class="nav-menu-icon"><i
                        class="lnr lnr-license"></i></span>Resume</a>
                </li>
                <li>
                  <a href="index.html#portfolio"><span class="nav-menu-icon"><i
                        class="lnr lnr-briefcase"></i></span>Portfolio</a>
                </li>
                <li>
                  <a href="index.html#blog" class="active"><span class="nav-menu-icon"><i
                        class="lnr lnr-book"></i></span>Blog</a>
                </li>
                <li>
                  <a href="index.html#contact"><span class="nav-menu-icon"><i
                        class="lnr lnr-envelope"></i></span>Contact</a>
                </li>
              </ul>
            </nav>

            <!--Nav Footer-->
            <div class="nav-footer">
              <!--Social Links-->
              <ul class="social">
                <li>
                  <a href="https://github.com/navjotsinghprince" target="_blank"><i class="fab fa-github"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/navjot-singh-82172a18a/" target="_blank"><i
                      class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="https://codepen.io/NavjotSinghPrince" target="_blank"><i class="fab fab fa-codepen"></i></a>
                </li>
                <li>
                  <a href="https://stackoverflow.com/users/12120513/navjotsinghprince" target="_blank"><i
                      class="fab fa-stack-overflow"></i></a>
                </li>
                <li>
                  <a href="https://twitter.com/Princeferozepur" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>

              <!--Copyright Text-->
              <div class="copy">
                <p id="copyright">
                  {{fullyear}}
                  &copy; Navjot Singh Prince <br />All Right Reserved.
                </p>
              </div>

            </div>
          </div>
        </div>
      </header>
      <!--Header End-->

      <!--Main Start-->
      <div id="main" class="site-main">
        <div class="blog-page">
          <div class="blog-image">
            <img src="img/blog/blog-page-img.jpg" alt="" />
          </div>
          <div class="blog-container">
            <div class="row">
              <!--Blog Heading Start-->
              <div class="blog-heading col-md-8 offset-md-2">
                <span class="cat">{{title}}</span>
                <h1>{{desc}}</h1>
                <span class="blog-date">January 21, 2020</span>
              </div>
              <!--Blog Heading Start-->

              <!--Blog Content Start-->
              <div class="blog-content col-md-10 offset-md-1">
                <h4>OVERVIEW</h4>
                <p v-for="(value,index) in blog" :key="index">{{value}}
                </p>

                <blockquote>
                  <b>PROFESSIONAL SOURCE LINKS:</b><br />
                  <ol>
                    <li v-for="(value,index) in links" :key="index">
                      <a id="link" :href="value.url" target="_blank"> {{index+1}}: {{ value.title}} &#x1F680;</a>
                    </li>
                  </ol>
                </blockquote>
              

                <p>Join us on this journey to advance your skills, boost your career, and become a true trailblazer in
                  the IT landscape. Unleash your potential with "Be On The Top Of Development"</p>
                <b>Thank You For Your Valuable Time.</b><br>
                <b>Warm Regards</b><br>
                <b>Navjot Singh</b>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Jquery JS-->
  <script src="js/jquery.min.js"></script>
  <!--Plugins JS-->
  <script src="js/plugins.min.js"></script>
  <!--Site Main JS-->
  <script src="js/main.js"></script>


  <script>
    var app = new Vue({
      el: "#navjot",
      data: () => ({
        title: "Advanced Techniques for Developers",
        desc: "Be On The Top Of Development",
        blog: {
          content1:
            'In the ever-evolving realm of information technology, developers are the architects of the digital future. Our blog, "Be On The Top Of Development," is your essential guide to mastering advanced techniques and staying at the forefront of innovation.',
          content2:
            "Explore cutting-edge topics, from machine learning and artificial intelligence to cybersecurity and blockchain development. Dive into in-depth tutorials, expert insights, and real-world case studies that showcase best practices in software engineering and application development.",

          content3:
            "Stay ahead of the curve as we delve into DevOps methodologies, containerization, cloud computing, and the latest programming languages. Whether you're a seasoned professional or an aspiring developer, our blog is your go-to resource for the power of technology to build a smarter, more connected world.",
        },

        links: [
          {
            title: "Click Here",
            url: "https://github.com/navjotsinghprince"
          }
        ],

        footer: '"'
      }),

      computed: {
        fullyear() {
          return new Date().getFullYear();
        }
      }
    });
  </script>

</body>

</html>